<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Flight book, <%= @user[:name] %></h1>
    <p>
      You flight have been reserved successfully,
      your ticket is: <%= @user[:ticket] %>.<br>
    </p>
    <p>
      To search your ticket, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for choosing us!</p>
  </body>
</html>

